<div class="panel panel-info">
  <div class="panel panel-heading"><%= @restaurant.title %> restaurant menu</div>
  <div class="panel panel-body">
    <%= form_for([@restaurant, @menu], :path => restaurant_menu_path(@restaurant, @menu)) do |f| %>
      <% if @menu.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

          <ul>
          <% @menu.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
