<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <strong>First name:</strong>
        <%= @guest.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @guest.last_name %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= @guest.phone_number %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @guest.address %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @guest.email %>
      </p>

    </div>
    <div class="panel panel-footer">
      <%= link_to "Edit my profile", edit_guest_path(current_user) if @guest.id == current_user.id %>
    </div>
  </div>
</div>
