<p>
  <strong>First name:</strong>
  <%= @guest.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @guest.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @guest.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @guest.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.email %>
</p>

<%= link_to "Edit my profile", edit_guest_path(current_user) if @guest.id == current_user.id %>

<h3>My friends</h3>

<%= render "friendships/friends_table" %>

<h3>Search other guests:</h3>
<%= form_tag(guest_path(current_user), :method => :get) do %>
  <%= text_field_tag :search, params[:search], :placeholder => "Search other guests" %>
  <%= submit_tag "Search" %>
<% end %>

<% if @guest_search %>
  <% unless @guest_search.empty? %>
    <p>Results:</p>
    <table>
      <% @guest_search.each do |guest| %>
        <tr>
          <td><%= guest.first_name %>
          <td><%= guest.last_name %>
          <td><%= link_to "Add as friend",
                          users_friendships_path(:friendship => { :user_id => current_user.id,
                                                                  :friend_id => guest.id }),
                          :method => :post,
                          :remote => true,
                          :class => "btn btn-primary add-friend" unless current_user.friend?(guest) %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>Sorry, no one matches your criteria <%= params[:search] %></p>
  <% end %>
<% end %>

<%= link_to 'Back to all guests', guests_path %>
