<%= form_for(@manager) do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% @manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :lat, "Address Latitude" %>
    <%= f.text_field :lat, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :lng, "Address Longitude" %>
    <%= f.text_field :lng, class: "form-control" %>
  </div>
  <% if current_user.admin? %>
    <div class="form-group">
      <%= f.label :restaurant %>
      <%= f.collection_select :restaurant_id, Restaurant.all, :id, :title, class: "form-control" %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <%= f.hidden_field :confirmed_at, :value => Time.now %>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
