<% unless current_user.invitations.empty? %>
  <div class="row"><div class="col-md-6"><h4>Invitations</h4></div></div>
  <% @invitations.each do |invitation| %>

    <% invitation.reservation.expired? %>
    <% unless invitation.expired? %>

      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel panel-body">
            <p>
              Your friend, <b><%= invitation.reservation.user.first_name %></b> has invited you to
              <b><%= invitation.restaurant.title %></b> restaurant.

              When?
              <b><%= invitation.date %></b>
              for
              <b><%= invitation.duration %> <%= invitation.duration == 1 ? "hour" : "hours" %>.</b>
              Who else is coming?
              <% invitation.reservation.invitations.each do |invite| %>
                <% unless invite.user.id == current_user.id %>
                  <b><%= invite.first_name %> <%= invite.last_name %> </b>
                <% end %>
              <% end %>
            </p>

            <% unless invitation.confirmed %>
              <div class="text-center">
                <%= link_to "Accept", guest_invitation_path(current_user,
                                                            invitation,
                                                            :invitation => { :confirmed => true }),
                                                            :method => :put,
                                                            :class => "btn btn-primary" %>
                <%= link_to "Decline", guest_invitation_path(current_user,
                                                             invitation),
                                                             :method => :delete,
                                                             :class => "btn btn-danger" %>
              </div>
            <% else %>
                You have accepted this invitation.
            <% end %>
          </div>
        </div>
      </div>

    <% end%>
  <% end %>
<% end %>
