<div id="main-container" class="container">
  <h1>Welcome to Restaurant Reservations</h1>

  <% unless current_user %>
      <div class="row text-center">
        <div class="col-xs-6 previous">
          <%= button_to "Login", new_user_session_path,
                        :class => "btn btn-primary btn-lg text-left" %>
        </div>
      <div class="col-xs-6 next">
        <%= button_to "Sign up", new_user_registration_path,
                      :method => :get,
                      :class => "btn btn-primary btn-lg text-right" %>
      </div>
    </div>
  <% end %>

  </br>
  <div id="owl-demo" class="owl-carousel owl-theme">
    <div><%= image_tag("food-pizza-fast-food.jpg") %></div>
    <div><%= image_tag("food-salad-healthy-colorful.jpg") %></div>
    <div><%= image_tag("salad-healthy-diet-spinach.jpg") %></div>
  </div>

</div>
