<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @reservation.duration %>
</p>

<%= link_to 'Edit', edit_restaurant_reservation_path(@reservation.restaurant, @reservation) %> |
<%= link_to 'Back', restaurant_reservations_path(@reservation.restaurant) %>
