<div class="col-md-6" >
<% if current_user.guest? %>
  <div class="input-group date">
  <%= form_tag(restaurant_path(@restaurant), :method => :get) do %>

    <%= label_tag :date, "Choose a date for your reservation" %>

    <div class="form-group">
        <% if params[:date] && params[:duration] %>
          <div class='input-group date'>
            <%= text_field_tag :date,
                               params[:date],
                               :class => "form-control",
                               :disabled => true %>
         </div>
          <%= label_tag :duration, "How long would you like to stay?" %>
          <%= text_field_tag :duration,
                             params[:duration],
                             :class => "form-control",
                             :disabled => true %>
        <% else %>
          <div class='input-group date' id='datetimepicker1'>
            <%= text_field_tag :date,
                               params[:date],
                               :class => "form-control" %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <%= label_tag :duration, "How long would you like to stay?" %>
          <%= select_tag :duration, "<option>1 hour</option>
                                    <option>2 hours</option>
                                    <option>3 hours</option>".html_safe,
                                    :class => "form-control" %>
       <% end %>
    </div>
    </br>

    <%= submit_tag "Show", :class => "form-control" %></br>
  <% end %>
  </div></br>
<% end %>

<% if params[:date] && params[:duration] %>
  <%= form_tag restaurant_reservations_path(@restaurant) do %>
    <table>

      <tbody>
      <% cache([@configuration, @seats]) do %>
        <% @configuration.height.times do |rows| %>
          <tr>
            <% @configuration.width.times do |cols| %>
              <td>
              <div data-toggle="buttons" class="btn-group itemcontent">
                <%= seats_check_box(@configuration, rows, cols, @date || Time.now) %>
              </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>

    </table>
    </div>
    <div class="col-md-6">
    <h4>Invite a friend to a restaurant</h4>

    <table>
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      <% current_user.friendships.each do |friendship| %>
        <tr>
          <td><%= friendship.friend.first_name %>
          <td><%= friendship.friend.last_name %>
          <%= hidden_field_tag("friendship_#{friendship.id}[friend_id]", friendship.friend_id) %>
          <td><%= check_box_tag("friendship_#{friendship.id}[selected]", true, false) %></td>
        </tr>
      <% end %>
    </table>

    <%= hidden_field_tag("reservation[date]", params[:date]) %>
    <%= hidden_field_tag("reservation[duration]", params[:duration]) %>

    <%= submit_tag "Make a reservation", :class => "btn btn-primary" if current_user.guest? %>

  <% end %>
<% end %>
<% end %>
</div>
