<h1>Listing Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Rating</th>
      <% if current_user.guest? %>
        <th>Friends rating</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.title %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.rating == 0 ? "Not rated yet" : restaurant.rating %>
        <% if current_user.guest? %>
          <td><%= current_user.friends_rating(restaurant.id) %>
        <% end %>
        <td><%= link_to 'Reservation', restaurant %></td>
        <td><%= link_to 'Your reservations', restaurant_reservations_path(restaurant) %>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) if current_user.restaurant_manager(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }  if current_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path if current_user.admin? %>
