<h1>Listing Restaurants</h1>

<%= link_to "Sort by title",
            restaurants_path(:sort => "title"),
            :class => "btn btn-info" %>
<%= link_to "Sort by description",
            restaurants_path(:sort => "description"),
            :class => "btn btn-info" %>
<%= link_to "Sort by distance",
            restaurants_path(:distance => "distance"),
            :class => "btn btn-info" %>
<%= link_to "Unsort",
            restaurants_path,
            :class => "btn btn-info" %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Distance (m)</th>
        <th>Rating</th>
        <% if current_user.guest? %>
          <th>Friends rating</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.title %></td>
          <td><%= restaurant.description %></td>
          <td><%= restaurant.distance_from(current_user, :units => :meters).round(2) %></td>
          <td><%= restaurant.rating == 0 ? "Not rated yet" : restaurant.rating.round(2) %>
          <% if current_user.guest? %>
            <td><%= current_user.friends_rating(restaurant.id) %>
          <% end %>
          <td><%= link_to 'Reservation', restaurant %></td>
          <td><%= link_to 'Your reservations', restaurant_reservations_path(restaurant) if current_user.guest? %>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant) if current_user.restaurant_manager(restaurant) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Restaurant', new_restaurant_path if current_user.admin? %>
