<p>
  <strong>Title:</strong>
  <%= @restaurant.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<% if @seats.present? %>
  <%= render "choose_date" %>

  <div class="col-md-12">
    <%= render "reserve_tables" %>
  </div>
<% else %>
  <%= render "configuration_set_up" %>
<% end %>

<div class="col-md-12"><br></div>

<div class="col-md-12">

  <%= render "managers" %>

  <div class="text-center">
  <% if current_user.restaurant_manager(@restaurant) %>
    <%= link_to 'Edit', edit_restaurant_path(@restaurant), :class => "btn btn-primary" %> |
    <%= link_to 'Menu', restaurant_menus_path(@restaurant), :method => :get, :class => "btn btn-success" %> |
  <% end %>
  <%= link_to 'Back', restaurants_path, :class => "btn btn-info" %><br>
  </div>
</div>

