<h1>Listing Vistis</h1>

<% current_user.reservations.each { |res| res.expired? } %>
<% current_user.invitations.each { |res| res.expired? } %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Restaurant</th>
        <th>Date</th>
        <th>Duration (hours)</th>
        <th>Rating</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.restaurant.title %>
          <td><%= l review.reservation.date, :format => :date_with_time %>
          <td><%= review.reservation.duration %>
          <td><%= review.rating ? review.rating : "Not yet rated" %>
          <td><%= link_to 'Show', users_review_path(review) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
