<div id="footer">
  <p class="navbar-text pull-left">Made by nikolalsvk
  </p>
  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit password', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to 'Edit profile', edit_guest_path(current_user), :class => 'navbar-link' if current_user.guest? %> |
    <%= link_to 'Edit profile', edit_manager_path(current_user), :class => 'navbar-link' if current_user.manager? %> |
    <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'navbar-link' %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
  <% end %>
  </p>
</div>
